In [19]:
import pandas as pd

In [32]:
data = pd.read_csv("data.txt", delim_whitespace = True)

In [42]:
data["Age"]

0    72
1    34
2    18
3    34
4    19
5    37
6    21
7    88
8    14
9    19
Name: Age, dtype: int64

In [14]:
books = pd.read_csv("bestsellers with categories.csv")

In [44]:
display(books)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [45]:
books.groupby("Price").count()

       Name  Author  User Rating  Reviews  Year  Genre
Price
0        12      12           12       12    12     12
1         1       1            1        1     1      1
2         5       5            5        5     5      5
3         1       1            1        1     1      1
4        32      32           32       32    32     32
5        36      36           36       36    36     36
6        38      38           38       38    38     38
7        23      23           23       23    23     23
8        52      52           52       52    52     52
9        38      38           38       38    38     38
10       28      28           28       28    28     28
11       35      35           35       35    35     35
12       27      27           27       27    27     27
13       29      29           29       29    29     29
14       30      30           30       30    30     30
15       21      21           21       21    21     21
16       20      20           20       20    20     20
17       19      19           19       19    19     19
18       14      14           14       14    14     14
19        4       4            4        4     4      4
20       17      17           17       17    17     17
21        9       9            9        9     9      9
22        6       6            6        6     6      6
23        5       5            5        5     5      5
24        5       5            5        5     5      5
25        2       2            2        2     2      2
27        4       4            4        4     4      4
28        6       6            6        6     6      6
30        5       5            5        5     5      5
32        2       2            2        2     2      2
36        1       1            1        1     1      1
39        1       1            1        1     1      1
40        5       5            5        5     5      5
42        1       1            1        1     1      1
46       10      10           10       10    10     10
52        1       1            1        1     1      1
53        1       1            1        1     1      1
54        1       1            1        1     1      1
82        1       1            1        1     1      1
105       2       2            2        2     2      2